<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
  {% endif %}

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="favicon.png" />

  <base target="_blank">
  <script
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
    type="text/javascript">
  </script>

  <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/ubuntu-mono-2" rel="stylesheet">                

  <script>
    // Fonction pour gérer le clic sur les liens avec l'attribut data-scroll-to
    document.addEventListener("click", function (event) {
        const target = event.target;

        // Vérifie si l'élément cliqué est un lien avec l'attribut data-scroll-to
        if (target.tagName === "A" && target.hasAttribute("data-scroll-to")) {
            const targetId = target.getAttribute("data-scroll-to");
            const targetElement = document.getElementById(targetId);

            if (targetElement) {
                event.preventDefault();
                targetElement.scrollIntoView({ behavior: "smooth" });
            }
        }
    });
</script>

  <script type="text/javascript">
    var apiUrl = 'https://api.github.com/repos/lanzac/resume/commits?per_page=1';
    fetch(apiUrl).then(response => {
      return response.json();
    }).then(data => {
      // Work with JSON data here
      // console.log(data);
      const commitDate = new Date(data[0].commit.committer.date);
      const formattedDate = commitDate.toLocaleDateString('en-GB'); // Format based on user's locale, without time
      // You can also use other formatting options, like toLocaleDateString(), toLocaleTimeString()
      document.getElementById('commitDate').innerHTML = formattedDate;

    }).catch(err => {
      // Do something for an error here
    });
</script>


</head>
