// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;
$grey:              #555;
$coffeeColor:       #6F4E37;

// Styles
$text_color:        $black;

// Font stack
$body-font: 'Roboto', 'Arial Narrow', Tahoma, Arial, Helvetica, sans-serif !default;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: "Ubuntu Mono", monospace, Consolas, "Liberation Mono", Menlo, Courier !default;