<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/ma_photo.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>


        <div class="page-header">
          <p class="header-line">{{ site.resume_title }}</p>
          <h4 class="resume-item-title print-only">The maintained version is accessible online at https://lanzac.github.io/cv/</h4>
        </div>

        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->
        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="status-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-status" itemprop="jobTitle">{{ site.resume_status }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary no-print" itemprop="description">
          {{ site.resume_header_intro }}
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      <!-- Some cool emoji sites:
      https://symbl.cc
      https://www.compart.com/en/unicode/ -->

      <!-- ----------------------------------------------------------------- -->
      <!-- -EDUCATION------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="section-header">
          <h2>Education <span class="emoji" style="transform: translateY(4px);">{% include icons/icon-graduate.html %}</span></h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h4 class="resume-item-title group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <h3 class="resume-item-details" itemprop="name">{{ education.uni }}</h3>
          <!-- <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5> -->
          <!-- <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul>
          <p class="resume-item-copy">{{ education.summary }}</p> -->
          <p class="resume-item-copy"  itemprop="description">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      <!-- end Education -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -EXPERIENCE------------------------------------------------------ -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience <span class="emoji" style="transform: translateY(2px); max-height: 17px;">{% include icons/icon-computer.html %}</span></h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h4 class="resume-item-title" itemprop="name">{{ job.position }}</h4>
          <p class="resume-item-details" itemprop="description">{{ job.company }} &bull; {{ job.duration }}</p>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}

      </section>
      <!-- end Experience -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -SKILLS---------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills <span class="skills-header">
            <span class="emoji" style="transform: translateY(2px);">{% include icons/icon-gears.html %}</span>
            <!-- <span class="wheel-large">⛭</span>
            <span class="wheel-middle">⛭</span> -->
          </span></h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <span class="resume-item-title">{{ skill.skill }}</span>
          <span class="resume-item-copy">: {{ skill.description }}<br/></span>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -PUBLICATIONS---------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_publications %}
      <!-- begin publications -->
      <section class="content-section">
        <header class="section-header">
          <h2>Publications & scientific production <span class="emoji" style="transform: translateY(1px);">{% include icons/icon-articles.html %}</span></h2>
        </header>

        <h4 class="resume-item-title" id="publications">Publications:</h4>
        {% for publication in site.data.publications %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork" id="{{ publication.num }}">
          <h4 class="resume-item-publications" itemprop="description"> {{ publication.num }} {{ publication.authors }} "<i>{{ publication.title }}</i>" {{ publication.journal }} ({{ publication.date }}) DOI: <a href="{{ publication.doi }}" itemprop="url">{{ publication.doi | replace: 'https://doi.org/', '' }}</a></h4>
        </div>
        {% endfor %}

        <h4 class="resume-item-title" id="posters">Poster:</h4>
        {% for poster in site.data.posters %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <h4 class="resume-item-publications" itemprop="description"> {{ poster.num }} {{ poster.authors }} "<i>{{ poster.title }}</i>" {{ poster.conference }} ({{ poster.date }})<span class="no-print"> : <a href="{{ poster.poster }}" itemprop="url">Poster</a>, <a href="{{ poster.abstract }}">Abstract</a></span></h4>
        </div>
        {% endfor %}

      </section>
      <!-- end publications -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -PROJECTS-------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Projects</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{{ project.role }}</h3>
          <h4 class="resume-item-details" itemprop="description">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}  &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Projects -->
      {% endif %}


      <!-- ----------------------------------------------------------------- -->
      <!-- -RECOGNITION----------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Recognition -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -ASSOCIATIONS---------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        {% for association in site.data.associations %}
        <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
          <p class="resume-item-copy">{{ association.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Associations -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -SOFTWARES------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_softwares %}
      <!-- begin softwares -->
      <section class="content-section">
        <header class="section-header">
          <h2>Softwares & Tools <span class="emoji" style="transform: translateY(4px); min-height: 25px; min-width: 25px;">{% include icons/icon-floppy.html %}</span></h2>
        </header>

        <div class="executive-summary" itemprop="description">
          {{ site.intro_section_software }}
        </div>

        {% for software in site.data.softwares %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />

          <div class="resume-item">
            <span class="resume-item-software">• {{ software.software }}</span>
            <span class="resume-item-copy">: {{ software.description }}</span>
            <h4 class="resume-item-details" itemprop="description">{{ software.role }}  &bull; {{ software.duration }} &bull; {{ software.language }}</h4>
        </div>
          </div>

        {% endfor %}

      </section>
      <!-- end softwares -->
      {% endif %}

      <!-- ----------------------------------------------------------------- -->
      <!-- -INTERESTS------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------- -->
      {% if site.resume_section_interests %}
      <!-- begin Interests -->
      <section class="content-section">

        <header class="section-header">
          <h2>Outside Interests <span class="emoji" style="transform: translateY(4px);">{% include icons/icon-chess.html %}</span></h2>
        </header>

        <!-- <div class="resume-item">
          <ul class="resume-item-list">
            {% for interest in site.data.interests %}
            <li>{{ interest.description }}</li>
            {% endfor %}
          </ul>
        </div> -->

        {% for interest in site.data.interests %}
        <div class="resume-item">
          <span class="resume-item-title">{{ interest.interest }}</span>
          <span class="resume-item-copy">: {{ interest.description }}<br/></span>
        </div>
        {% endfor %}

      </section>
      <!-- end Interests -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for link in site.data.links %}
            <li><a href={{ link.url }} itemprop="url">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}


      <footer class="page-footer">
        <span class="footer-line no-print">Last update on </span>
        <span class="footer-line print-only">Version dated </span>
        <span class="footer-line" id="commitDate">...Loading last commit date...</span>
        <p class="footer-line no-print">I used the super template made by <a href="http://twitter.com/jglovier">@jglovier</a> and forked on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
        <p class="footer-line no-print">A simple Jekyll + GitHub Pages powered resume template.</p>
      </footer>

    </div>

  </body>

</html>
